* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.carousel {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
    display: none;
}

.carousel .carousel__item img {
    width: 70%;
    height: 300px;
    /* transform: translateX(21%); */
}

.carousel .carousel__item--visible {
    display: block;
    animation: fadeVisibility 0.3s;
}

.carousel .carousel__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel__actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #d8d8d8;
    cursor: pointer;
    border-radius: 50%;
}

.carousel .carousel__actions button p {
    font-size: 2.5em;
    color: #9e9e9e;
    font-weight: bold;
}

.carousel .carousel__actions button#carousel__button--prev {
    margin-left: 20px;
}

.carousel .carousel__actions button#carousel__button--next {
    margin-right: 20px;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: opacity linear;
    }
}